:root {
    --bg_color: #384D48
}



.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


body {
    background-color: var(--bg_color);
    display: grid;
}

#landingWrapper {
    display: grid;
    grid-template-areas:
    "nav",
    "main";
    margin-left: 0%;
    margin-right: 0%;

    
}


.menu {
    height: 100vh;
    width: 40vw;
    background: rgb(94, 147, 149);
    position: fixed;
    top: 0;
    right: -90vw;
    transition: right 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#navButton {
    cursor: pointer;
    display: inline;
}

#navButton i.material-icons {
    font-size: 2.5rem;
}

.show {
    right: 0;
}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible {
    display: block;
}


.nav {
    display: grid;
    grid-template-areas: "Logo NavButton";
    justify-content: space-between;

}

#Logo {
    grid-area: Logo;
}

#navButton {
    grid-area: NavButton;
}

#main {

}

#portrait {
    display: flex;
    justify-content: center;
    align-items: center;

}

#name {
    display: flex;
    justify-content: center;
    align-items: center;

}


#title {
    display: flex;
    justify-content: center;
    align-items: center;

}

#about {
    border-left: 7px solid pink;
    padding-left: 10px;
}

#footer {
}


@media screen and (min-width:750px) {
    #landingWrapper {
        margin-left: 20%;
        margin-right: 20%;

    }
}