body {
    background-color: #384D48;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#landingWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#nav {
    grid-area: nav;
}

#main {
    grid-area: main;
}

#portrait {

}



#footer {
    grid-area: footer;
}