:root {
    --bg_color: #384D48
}



.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


body {
    background-color: var(--bg_color);
    display: grid;
}

#landingWrapper {
    display: grid;
    grid-template-areas:
    "nav",
    "main";
    margin-left: 0%;
    margin-right: 0%;

    
}

.nav {
    display: grid;
    grid-template-areas: "Logo NavButton";
    justify-content: space-between;

}

#Logo {
    grid-area: Logo;
}

#navButton {
    grid-area: NavButton;
}

#main {

}

#portrait {
    display: flex;
    justify-content: center;
    align-items: center;

}

#name {
    display: flex;
    justify-content: center;
    align-items: center;

}


#title {
    display: flex;
    justify-content: center;
    align-items: center;

}

#about {
    border-left: 7px solid pink;
    padding-left: 10px;
}

#footer {
}


@media screen and (min-width:750px) {
    #landingWrapper {
        margin-left: 20%;
        margin-right: 20%;

    }
}